#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  padding: 20px;
  background: #eee;
  text-align: center;
  cursor: pointer;
}

.today {
  background: #4caf50;
  color: white;
  font-weight: bold;
}