* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;
}

.card {
  width: 80px;
  height: 80px;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.flipped {
  background: white;
  color: black;
}
